#controles {
    display: flex;
    align-items: center;
}

#controles div {
    padding: 25px 25px 25px 0;
}

body pre {
    width: 60%;
    height: 500px;
}

#resultado {
    width: 121.5vh;
    height: 50vh;
    background-color: rgb(233, 233, 233);
}

#resultado pre {
    width: inherit;
    height: inherit;
}