#controles {
    display: flex;
    align-items: center;
}

#controles div {
    padding: 10px 10px 10px 0;
}

body pre {
    width: 60%;
    height: 500px;
}

#resultado {
    width: 121.5vh;
    height: 50vh;
    background-color: rgb(233, 233, 233);
}

#resultado pre {
    width: inherit;
    height: inherit;
}

#links {
    text-align: right;
    margin-right: -30px;
}

#links img {
    width: 30px;
    height: 30px;
}

#url {
    width: 600px;
}

#metodo {
    width: 90px;
}